/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 URL : http://wufoo.com

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">


#logo {background: #eedeff !important;}

/* Logo  */
#logo a {background-image:url('https://raw.githubusercontent.com/realmattbender/css/main/PBC3.png'); min-height:0; height:40px;height: 155px !important;}
* html #logo a {/* IE6 png Support */
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="https://raw.githubusercontent.com/realmattbender/css/main/PBC3.png", sizingMethod="crop");
}

/* Backgrounds */
html{background: url(https://raw.githubusercontent.com/realmattbender/css/main/PBCBG.jpg);}
#logo{background: #d4b2fa;}
/*#container{background:rgba(255, 255, 255, 0)}*/
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:#FFF7C0}
.wufoo .instruct{background-color:#F5F5F5}

/* Borders */
#container{border:0 solid #cccccc}
.wufoo .info{border-bottom:1px dotted #CCCCCC}
.wufoo .instruct{border:1px solid #e6e6e6}

/* Typography */
.wufoo .info h2{font-size:160%;font-family: 'Yusei Magic', sans-serif;color:#000000}
.wufoo .info div{font-size:95%;font-family: 'Yusei Magic', sans-serif;color:#444444}
.wufoo .section h3{font-size:110%;font-family: 'Yusei Magic', sans-serif;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family: 'Yusei Magic', sans-serif;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family: 'Yusei Magic', sans-serif;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family: 'Yusei Magic', sans-serif;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family: 'Yusei Magic', sans-serif;color:#333333;padding-left: 5px;}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family: 'Yusei Magic', sans-serif;color:#444444}

#errorLi, .error-container {    font-family: 'Yusei Magic', sans-serif;}

form li.buttons input {    font-family: 'Yusei Magic', sans-serif; background: #d4b2fa;font-weight: bold;padding: 5px 25px;
	border-radius: 9px;border: 0;border-bottom: 3px solid #5a338a;curosr:pointer;}
